.presentation{
    padding-top: 7rem;
    text-align: left;
    margin-left: 15%;
}

.presentation h1{
    font-size: 45px;
}

.presentation h2{
    font-size: 25px;
}

.presentation p {
    font-size: 27px;
}